*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    width: 90%;
    border: 1px #FF00FFFF solid ;
    margin: 0 auto;
    border-radius: 10px;
}

#header{
    width: 100%;
    border: 1px black solid;
    height: 130px;
}

#header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    margin: 10 0 0 0;
    margin-top: 40px;
}

#nav-bar{
    width: 100%;
    background-color: aqua;
    height: 41px;
}

#nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li{
    float: left;
    background-color: aqua;
}

#nav-bar a, #nav-bar a:visited{
    color: burlywood;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

#nav-bar a:hover{
    background-color: brown;
    color: aqua;
}


.clear{
    clear: both;
}

#main-content{
    margin-top: 20px;
    width: 100%;
}

#footer{
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid brown;
}

#footer-block{
    float: left;
    width: 32%;
    border: 1px solid blueviolet;
}

#footer-block a{
    text-decoration-style: dotted;
    color: chocolate;
}

#footer-block li{
    list-style-type: disc;
    color: chocolate;
}

.First-Word{
    font-size: 40px;
}

